:root {
    --color-white: #FFFFFF;
    --color-primary: #6C63FF;
    --color-main-background: #DDE1EC;
    --color-gray: #6A6180;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-white);
}

#root {
    display: flex;
    justify-content: center;
}

body, input, button {
    font: 600 16px Archivo; 
    color: var(--color-primary);
}

h1 {
  color: var(--color-gray);
}

.container {
    width: 90vw;
    max-width: 962px;
    margin-top: 10px;
}

